In [14]:
%load_ext sql
%config SqlMagic.autocommit=False
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql postgresql://localhost/w4111

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
from IPython.display import HTML
import pandas as pd
pd.set_option('max_colwidth', 0)

# Basic SQL

In [18]:
%sql autocommit off
%%sql
DROP TABLE IF EXISTS sailors cascade;
DROP TABLE IF EXISTS boats cascade;
DROP TABLE IF EXISTS reserves;

CREATE TABLE sailors(
    sid serial primary key,
    name text,
    rating int,
    age int    
);
create table boats(
    bid serial primary key,
    name text,
    color text
);
create table reserves(
    sid int references sailors,
    bid int references boats,
    day text
);

INSERT INTO sailors VALUES 
(1, 'Eugene', 7, 22),
(2, 'Luis', 2, 39),
(3, 'Ken', 8, 27),
(4, 'Don', 10, 100);
INSERT INTO boats VALUES
(101, 'Legacy', 'red'),
(102, 'Melon', 'blue'),
(103, 'Mars', 'red');
INSERT INTO reserves VALUES
(1, 102, '9/12/2016'),
(1, 101, '9/12/2016'),
(1, 103, '9/12/2016'),
(2, 102, '9/13/2016'),
(2, 103, '9/14/2016');
COMMIT

SyntaxError: invalid syntax (110485560.py, line 3)

In [17]:
%%sql
select *
from sailors as s left join (reserves as r  join boats as b on b.bid = r.bid) on s.sid = r.sid

 * postgresql://localhost/w4111
(psycopg2.errors.UndefinedTable) relation "sailors" does not exist
LINE 2: from sailors as s left join (reserves as r  join boats as b ...
             ^

[SQL: select *
from sailors as s left join (reserves as r  join boats as b on b.bid = r.bid) on s.sid = r.sid]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%sql select * from sailors where null = null

In [ ]:
%%sql
DROP TABLE IF EXISTS T;
CREATE TABLE T(a int);
INSERT INTO T VALUES (1), (2), (null)

In [ ]:
%sql SELECT count(*) FROM T;

# UDFs

In [ ]:
%%sql
DROP TABLE IF EXISTS sailors cascade;

CREATE TABLE sailors(
    sid serial primary key,
    name text,
    rating int,
    age int    
);

INSERT INTO sailors VALUES 
(1, 'Eugene', 7, 22),
(2, 'Luis', 2, 39),
(3, 'Ken', 8, 27);

DROP TABLE IF EXISTS youngsailors cascade;
CREATE TABLE youngsailors(
    sid serial primary key,
    name text,
    rating int,
    age int    
);


DROP TABLE IF EXISTS log;
CREATE TABLE log(
  sid int NOT NULL REFERENCES Sailors,
  t timestamp NOT NULL,
  oldAge int NOT NULL,
  newAge int NOT NULL
);


drop table if exists blah;
create table blah(qty int);

In [ ]:
%%sql
CREATE EXTENSION IF NOT EXISTS plpgsql;
CREATE EXTENSION IF NOT EXISTS plpythonu;

In [ ]:
%%sql
DROP FUNCTION IF EXISTS searchit(word text);
CREATE FUNCTION searchit(word text) RETURNS text AS $$
import requests
r = requests.get("https://en.m.wikipedia.org/w/index.php?title=Special:Search&search=%s" % word)
return r.content.decode('unicode-escape')
$$ LANGUAGE plpython2u;

In [ ]:

%%sql
DROP TABLE IF EXISTS unis;
CREATE TABLE unis (name text);
INSERT INTO unis VALUES ('columbia university'), ('uc berkeley'), ('university of wisconsin madison'), ('nyu');

In [ ]:
rows = %sql SELECT searchit(name) FROM unis;

In [ ]:
display(HTML(rows[1][0]))